.hand {
    clear: both;
}

.hand .card {
    width: 10%;
    float: left;
}

.hand img {
  width: 100%;
  height: auto;
}

.part-of-hand {
  border-bottom: 3px #00FF00 solid;
}

.selected {
  border: 3px #FF0000 solid;
}